<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Diis To Niis</title>
	<link href="css/style.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="js/base.js"></script>
	<link rel="icon" href="images/32.png">
</head>
	<body>
		<div>
			<div class="header">
				<h1>
					<img src="images/logo2.png" alt="Diis To Niis" class="logo" draggable="false"/>
				</h1>
			</div>
			<nav class="nav">
				<div id="navList" class="nav__links">
					<a class="nav__link" href="operations" id="btnNav" onMouseOver="over(this)" onMouseOut="normal(this)">
						<i class="icon-operations icon-details"></i>
						Operations
					</a>
					<a class="nav__link nav__link--active" href="convert" id="btnNav1">
						<i class="icon-convert icon-details"></i>
						Convert
					</a>
					<a class="nav__link" href="history" id="btnNav2" onMouseOver="over(this)" onMouseOut="normal(this)">
						<i class="icon-history icon-details"></i>
						History
					</a>
				</div>
			</nav>
			<div class="sideInput outline">
				<h2>DIIS</h2>
				<div class="hold">
					<label for="host">Host</label>
					<input id="host" type="text" max="1000"/>
				</div>
				<div class="hold">
					<label for="port">Port</label>
					<input id="port" type="text" max="1000"/>
				</div>
				<h2>NIIS</h2>
				<div class="hold">
					<label for="url">URL</label>
					<input id="url" type="text" max="1000"/>
				</div>
			</div>
			<div class="screen">
				<div class="leftConvert">
					<form th:action="@{/convert}" method="post">
						<p class="pUpdate">DIIS Request</p>
						<!-- Diis Request -->
						<textarea class="textAreaStyle outline" name="diisRequest" cols="60" rows="4" th:field="${holdObject.diisRequest}"></textarea>
						<!-- Left -->
						<!-- Diis Request => Niis Json Request -->
						<!-- (name = diisToNiisRequest) => (value = convertRequest) -->
						<button class="customB" name="diisToNiisRequest" value="convertRequest" onMouseOver="overs(this,this.id)" onMouseOut="normals(this,this.id)" id="b1">
							<i class="buttonStyle icon-details" id="icon1"></i>
							<span>
								Convert DIIS to NIIS
							</span>
						</button>
						<!-- Top -->
						<!-- Diis Request => Diis Response -->
						<!-- (name = diisToDiis) => (value = submitToDiisHost) -->
						<button class="middleButton mb1" name="diisToDiis" value="submitToDiisHost" onMouseOver="overs(this,this.id)" onMouseOut="normals(this,this.id)" id="b2">
							<i class="middleButtonStyle icon-details" id="icon2"></i>
							<span>
								Submit to DIIS Host
							</span>
						</button>
					</form>
					<form th:action="@{/convert}" method="post">
						<p class="pUpdate">NIIS Json Request</p>
						<!-- Niis Request -->
						<textarea class="textAreaStyle outline" name="niisJsonRequest" cols="60" rows="4" th:field="${holdObject.niisRequest}"></textarea>
						<!-- th:field="${niisRequest.account}" -->
						<!-- Bottom -->
						<!-- Niis Json Request => Niis Json Response -->
						<!-- (name = niisToNiis) => (value = submitToNiisService) -->
						<button class="middleButton mb2" name="niisToNiis" value="submitToNiisService" onMouseOver="overs(this,this.id)" onMouseOut="normals(this,this.id)" id="b3">
							<i class="middleButtonStyle icon-details" id="icon3"></i>
							<span>
								Submit to NIIS Service
							</span>
						</button>
					</form>
				</div>
				<div class="rightConvert">
					<form th:action="@{/convert}" method="post">
						<p class="pUpdate">DIIS Response</p>
						<!-- Diis Response -->
						<textarea class="textAreaStyle outline" name="diisResponse" cols="60" rows="4" th:field="${holdObject.diisResponse}"></textarea>
						<!-- Right -->
						<!-- Diis Response => Niis Json Response -->
						<!-- (name = diisToNiisResponse) => (value = convertResponse) -->
						<button class="customB" name="diisToNiisResponse" value="convertResponse"  onMouseOver="overs(this,this.id)" onMouseOut="normals(this,this.id)" id="b4">
							<i class="buttonStyle icon-details" id="icon4"></i>
							<span>
								Convert DIIS to NIIS
							</span>
						</button>
					</form>
					<p class="pUpdate">NIIS Json Response</p>
					<!-- Niis Response -->
					<textarea class="textAreaStyle outline" name="niisJsonResponse" cols="60" rows="4" th:field="${holdObject.niisResponse}"></textarea>
				</div>
			</div>
		</div>
	</body>
</html>
