<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DIIS 2 NIIS Message Converter</title>
</head>
<body>
<h1>
    DIIS 2 NIIS Message Converter
</h1>

<div style="float:left">
    <form>
        <p>DIIS Request</p>
        <textarea type="text" name="diisRequest" id="diisRequest" cols="50" rows="14"></textarea>
    </form>
    <form>
        <button>
            Convert DIIS to NIIS
        </button>
    </form>
    <form>
        <p>NIIS Json Request</p>
        <textarea name="niisJsonRequest" cols="50" rows="14"></textarea>
    </form>
</div>

</body>
</html>